<div
  style="
    height: 100vh;
    background-image: url('assets/background.jpg');
    background-size: cover;
  "
>
  <div
    class="
      container
      m-auto
      h-100
      d-flex
      align-items-center align-items-md-start
      justify-content-center
      flex-column
      p-0
    "
  >
    <h1 class="px-5 fw-light ls-5 text-center text-md-start">
      Best photos of all times
    </h1>
    <p class="px-5 text-secondary text-center text-md-start">
      Collect your best photos and share with other users. <br />
      We are stronger together!
    </p>
    <button class="mx-5 btn btn-dark d-flex align-items-center gap-3">
      <i class="bi bi-compass-fill"></i>
      <div>Explore</div>
    </button>
  </div>
</div>
<div class="container p-5">
  <h1 class="pb-5">Gallery</h1>
  <div id="photo-wrapper" class="row"></div>
</div>
